<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="bi bi-rocket-takeoff-fill me-3"></i>Echo Base</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservas">
                <span class="bi bi-rocket-takeoff" aria-hidden="true"></span> Reservar puesto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mis-reservas">
                <span class="bi bi-list-check" aria-hidden="true"></span> Mis reservas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="incidencias">
                <span class="bi bi-exclamation-triangle" aria-hidden="true"></span> Incidencias
            </NavLink>
        </div>

        <AuthorizeView Roles="Manager">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-toggles2" aria-hidden="true"></span> Gestión avanzada
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="SystemAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="system-admin">
                        <span class="bi bi-shield-lock-fill" aria-hidden="true"></span> Administración
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

