<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="bi bi-rocket-takeoff-fill me-3"></i>Echo Base</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservas">
                <span class="bi bi-rocket-takeoff" aria-hidden="true"></span> Reservar puesto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mis-reservas">
                <span class="bi bi-list-check" aria-hidden="true"></span> Mis reservas
            </NavLink>
        </div>
    </nav>
</div>

